body{
    margin:0px;
}
.header-container{
    width:100%;
    background-color:rgba(69, 81, 107);
}
.top{
    display:flex;
    justify-content: space-evenly;
    
}
.logo{
    margin-right:800px;
}
.sign,.logout,.about{
    color:white;
    align-self:center;
    
}