body{
    margin:0px;
    font-family: sans-serif;
}
.header-container{
    width:100%;
    background-color:rgba(69, 81, 107);
    margin:0px; padding:0px;
    border-bottom:2px solid black;
}
.top{
    display:flex;
    width:100%;
    justify-self:center;
    justify-content: flex-start;
}
.logo{
    width:50px; height:50px;
    border:4px solid gainsboro;
    align-self:center;

}
.top > p{
    color:white;
}
.middle-top{
    display:flex;
    width:15%;
    margin:auto;
    justify-content: center;
    flex-shrink:2;
}
.search{
    width:100%;
    border-radius:10px;
    border:none;
    /* this is the size of the alloted percentage of the container*/
}
.right-top-links{
    display:flex;
    justify-content: space-evenly;
    width:20%;
    border-left:solid white 2px;
    
}
.sign,.logout,.about{
    align-self:center;
    color:white;
}
/*            1                Second layer            1             */
.second-layer{
    width:100%;
    background-color:rgba(31, 40, 61);
    margin:0px;
    padding:1px;
    display:flex;
}
.left-side-one{
    display:flex;
    justify-content:flex-start;
    width:50%;
    color:white;
    flex-direction: column;
}
.left-side-one > h1{
    align-self:center;
    border-bottom:4px solid white;
}
.left-side-one > p{
    align-self:center;
    margin:25px;
    
    
}
.left-side-one > a{
    align-self:center;
    color:white;
    border:1px solid white;
    margin:0px 15px;
    padding:7px;
    background-color:rgb(0, 162, 255);
    border-radius:5px;
    text-decoration: none;
}
.right-side{
    display:flex;
    width:50%;
    border-left:4px dotted white;
    align-items: center;
    justify-content:center ;
    flex-direction:column;
    color:white;
}

.right-side > img{
    width:200px; height:200px;
    border:5px solid white;
}
/*                            3           Third Layer            3         */
.third-layer{
    background-color:white;
    width:100%; 
    border:1px solid black;
    display:flex;
    justify-content: space-evenly;
}
.four-boxes-imgs{
    flex-direction: column;
    border-right:3px solid black;
    
}
.four-boxes-imgs > img{
    border:rgb(58, 61, 202) 4px solid;
    border-radius: 8px;
}
.four-boxes-imgs > p{
    align-items: center;
    width:55%;
}
